.CharacterDetail {
  grid-column: span 4;
  margin: auto;
  width: 650px;
  height: 360px;
  background-color: rgb(14, 145, 145);
  margin-bottom: 10vh;
  border-radius: 10px;
  position: relative;
  @media all and (max-width:768px){
    width: 360px;
  }
  &__link {
    color: white;
    position: absolute;
    right: 12px;
    margin: 10px;
    font-size: 20px;
    &:hover {
      color: #41f210;
      transform: scale(1.2);
    }
  }
  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-top: 30px;
    font-size: 18px;
    @media all and (max-width:768px){
      flex-direction: column;
      font-size: 16px;
      text-align: center;
    }
    &--notFound {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: relative;
      top: 20%;
      height: 240px;
      font-size: 45px;
      text-align: center;
      color: white;
    }
  }
  &__image {
    border-radius: 50%;
    @media all and (max-width:768px){
      width: 170px;
      margin-bottom: 20px;
    }
  }
}
