.Filter {
  text-align: center;
  display: flex;
  justify-content: center;
  &__text {
    width: 250px;
    padding: 12px;
    border-radius: 20px;
    border: 3px solid #41f210;
    background-color: transparent;
    color: white;
    font-size: 22px;
    &::placeholder {
      text-align: center;
      font-size: 20px;
    }
    &:focus {
      box-shadow: 3px -2px 13px 0px rgba(65, 242, 16, 1);
    }
  }
  &__close{
    color: #41f210;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
    &:hover{
      color: white;
      font-size: 24px;
    }
  }
}