.Filter {
  text-align: center;
  position: relative;
  &__text {
    width: 250px;
    padding: 12px;
    border-radius: 20px;
    border: 3px solid #41f210;
    background-color: transparent;
    color: white;
    font-size: 20px;
    &::placeholder {
      text-align: center;
      font-size: 20px;
    }
    &:focus {
      box-shadow: 3px -2px 13px 0px rgba(65, 242, 16, 1);
    }
  }
  &__close{
    position: absolute;
    color: #41f210;
    top: 30%;
    right: 40%;
    font-size: 20px;
    cursor: pointer;
    &:hover{
      color: white;
      font-size: 22px;
    }
  }
}