.Header {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  grid-column: span 4;
  &__image {
    @media all and (max-width: 768px) {
      width: 420px;
    }
    @media all and (max-width: 468px) {
      width: 268px;
    }
  }
}
